body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', sans-serif;
}

.spec-display,
.file-form,
.process,
h1 {
  padding-left: 10px;
}

.spec-display {
  background-color: lightgray;
}

.file-form {
  background-color: lightblue;
}

.process {
  background-color: lightgreen;
  padding: 6px;
}

.spec-display input,
.file-form input {
  margin: 6px;
  width: 50%;
  max-width: 500px;
}

.spec-display ul {
  font-size: 0.7rem;
  padding: 6px 0;
  margin: 0;
}

.spec-display li {
  list-style: none;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  margin: 4px;
}

.image img {
  margin: 4px;
  max-height: 150px;
}