body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', sans-serif;
}

.image-form,
.file-form,
.process,
h1 {
  padding-left: 10px;
}

.image-form {
  background-color: lightgray;
}

.file-form {
  background-color: lightblue;
}

.process {
  background-color: lightgreen;
  padding: 6px;
}

.image-form input,
.file-form input {
  margin: 6px;
  width: 50%;
  max-width: 500px;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  margin: 4px;
}

.image img {
  margin: 4px;
  max-height: 150px;
}